/* Menggunakan font yang ditentukan */
body {
    font-family: 'Plus Jakarta Sans', sans-serif; /* Menetapkan font */
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Warna latar belakang */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Mengatur tinggi minimum body */
    background-color: #f5f5f5; /* Warna latar belakang */
}

/* Gaya untuk Navbar */
.navbar-custom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh; /* Tinggi navbar */
    background-color: #fff; /* Warna latar belakang navbar */
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Lebar navbar */
    transform: translateY(-100%); /* Menyembunyikan navbar di atas */
    transition: transform 0.3s ease-in-out; /* Transisi saat navbar muncul */
    z-index: 40; /* Posisi di atas elemen lainnya */
}

.navbar-custom.open {
    transform: translateY(0); /* Menampilkan navbar */
}

.container {
    width: 100%;
    max-width: 400px; /* Lebar maksimum kontainer */
}

.nav-item {
    margin: 0; /* Menghapus jarak antar item */
}

.nav-item a {
    text-decoration: none; /* Menghapus garis bawah */
    color: #454545; /* Warna teks */
    font-weight: 700; /* Berat font */
    font-size: 25px; /* Ukuran font */
    line-height: 36px; /* Jarak baris */
    display: block;
    padding: 8px 0;
}

.nav-item a:hover {
    color: black; /* Warna teks saat hover */
}

/* Gaya untuk Footer Button */
.button {
    background-color: #000EEE; /* Warna latar belakang tombol */
    color: #fff; /* Warna teks tombol */
    padding: 12px 24px;
    border-radius: 8px; /* Sudut membulat */
    text-align: center;
    text-decoration: none; /* Menghapus garis bawah */
    font-weight: bold;
    display: block;
    width: 90%;
    margin-top: 20px;
    position: absolute;
    bottom: 20px; /* Posisi di bagian bawah */
}

/* Gaya untuk Tombol Toggle */
.toggle-button {
    background-color: #333; /* Warna latar belakang tombol toggle */
    border-radius: 50%; /* Membuat tombol bulat */
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

/* Gaya untuk Jarak antara Navbar dan Judul */
.content {
    margin-top: 60px; /* Jarak dari tombol toggle */
}

#resultContainer img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Sudut membulat pada gambar */
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #007bff; /* Warna teks */
}

#loading::before {
    content: '...'; /* Tanda loading */
    animation: dot-flashing 1s infinite linear; /* Animasi loading */
}

@keyframes dot-flashing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* Gaya untuk elemen lainnya */
h3 {
    color: #454545; /* Warna teks heading */
}

p {
    color: #54616C; /* Warna teks paragraf */
    font-size: 12px; /* Ukuran font paragraf */
}

#resultContainer {
    position: relative;
}

#loadingImage {
    width: 50px;
    height: 50px;
}

#imageName {
    font-size: 12px; /* Ukuran font nama gambar */
}

/* Gaya untuk Footer */
.footer {
    background-color: #ffffff; /* Warna latar belakang footer */
    color: #454545; /* Warna teks footer */
    padding: 1rem;
    text-align: center;
    margin-top: 70px;
}

.footer .social-icons {
    margin-bottom: 1rem; /* Jarak bawah pada ikon sosial */
}

.footer .social-icon img {
    width: 40px;
    height: auto;
    filter: grayscale(100%); /* Filter grayscale pada ikon sosial */
    transition: filter 0.3s ease; /* Transisi saat hover */
    margin-top: 10px;
}

.footer .social-icon img:hover {
    filter: none; /* Menghapus filter grayscale saat hover */
    
}

.footer .credit {
    font-size: 0.875rem; /* Ukuran font kredit */
}

.dwnld {
    font-family: 'plus jakarta sans'; /* Font untuk teks download */
    font-weight: 500;
    font-style: normal;
    margin-left: 6px;
    padding-left: 6px;
    line-height: 30px;
    padding-bottom: 10px;
    font-size: 28px; /* Ukuran font */
    color: #454545; /* Warna teks */
}

.dwnld1 {
    margin-left: 9px;
    font-size: 12px; /* Ukuran font */
    margin-left: 10px;
    padding: 5px;
    color: #54616C; /* Warna teks */
    padding-bottom: 20px;
}

/* Gaya tombol */
#uploadButton,
#removeBgButton {
    background-color: #000EEE; /* Warna latar belakang tombol */
    color: white; /* Warna teks tombol */
}

/* Gaya tombol saat hover */
#uploadButton:hover,
#removeBgButton:hover {
    background-color: #1f152e; /* Warna latar belakang saat hover */
}

/* Gaya awal */
.role-p, .image-container {
  opacity: 0; /* Transparansi awal */
  transition: opacity 0.4s ease-in-out; /* Transisi saat berubah */
}

/* Gaya saat menunjukkan elemen saat menggulir */
.role-p.show, .image-container.show {
  opacity: 1; /* Membuat elemen terlihat */
}

/* Memastikan elemen tetap terlihat setelah scrolling berhenti */
.role-p.visible, .image-container.visible {
  opacity: 1; /* Membuat elemen tetap terlihat */
}

.api {
  font-family: 'plus jakarta sans'; /* Font untuk teks API */
  font-weight: 500;
  font-style: normal;
  margin-left: 6px;
  padding-left: 6px;
  line-height: 30px;
  padding-bottom: 10px;
  font-size: 28px; /* Ukuran font */
  color: #454545; /* Warna teks */
  text-align: left; /* Penyelarasan teks */
}

.api2 {
  margin-left: 9px;
  font-size: 12px; /* Ukuran font */
  margin-left: 10px;
  padding: 5px;
  color: #54616C; /* Warna teks */
  padding-bottom: 20px;
  text-align: left; /* Penyelarasan teks */
}

.harus {
  opacity: 0; /* Transparansi awal */
  transform: translateY(20px); /* Menggeser elemen ke bawah */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Transisi saat berubah */
}

.harus.visible {
  opacity: 1; /* Membuat elemen terlihat */
  transform: translateY(0); /* Mengatur posisi elemen ke tempat semula */
}

.icon-container {
  margin-top: 40px;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.icon-item img {
  width: 40px;
  height: 40px;
  
}

.icon-container h2 {
  color: #454545;
  font-size: 18px;
}